.module-self {
    padding: 10px;
    margin: 10px 0 0;
    background: #fff;
    .item {
        display: flex;
        align-items: center;
        img {
            display: block;
            width: 10px;
            border-radius: 5px;
        }
        span {
            margin: 0 0 0 10px;
        }
        p {
            margin: 0 0 0 10px;
        }
    }
}