.dialog-login {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 360px;
    height: 180px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    .form-login {
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
            margin: 10px 0 0;
            &:first-child {
                margin: 0;
            }
        }
        .btns {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 10px 0 0;
            .btn {
                width: 80px;
                height: 35px;
                border-radius: 20px;
            }
            .reset {
                border: 1px solid #3D83D0;
                background: #fff;
                color: #3D83D0;
            }
        }
    }
}