.module-content-list {
    .content-item {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        margin: 10px 0 0;
        background: #fff;
        &:first-child {
            margin: 0;
        }
        .top {
            display: flex;
            height: 60px;
            .head {
                position: relative;
                display: flex;
                align-items: center;
                height: inherit;
                margin: 0 10px 0 0;
                img {
                    width: 40px;
                    border-radius: 20px;
                }
                .draw {
                    position: absolute;
                }
            }
            .right {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .name {
                    display: flex;
                    align-items: center;
                    height: 30px;
                    .icon {
                        width: 30px;
                        height: 17px;
                        margin: 0 0 0 10px;
                        border-radius: 10px;
                    }
                }
                .tips {
                    display: flex;
                    align-items: flex-start;
                    height: 20px;
                    font-size: 12px;
                    time {
                        margin: 0 15px 0 0;
                    }
                }
            }
        }
        // 内容部分---文字和图片内容
        .content {
            display: flex;
            flex-direction: column;
            .words {
                $fsize: 16px;
                font-size: $fsize;
                text-indent: $fsize * 2;
            }
            .imgs {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin: 15px 0 0;
                overflow: hidden;
                img {
                    width: 200px;
                    height: 160px;
                }
            }
        }
        // 包括浏览数，点赞数等 
        .interat {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            height: 15px;
            margin: 15px 0 0;
            font-size: 12px;
            .item {
                margin: 0 0 0 20px;
            }
        }
        .comment {
            padding: 0 10px 0;
            margin: 15px 0 0;
            font-size: 14px;
            text-indent: 28px;
            .comment-item {
                display: flex;
                width: 100%;
                .comment-content {
                    width: 85%;
                    time, i {
                        font-size: 12px;
                    }
                    time {
                        margin: 0 20px 0 0;
                    }
                }
                .comment-user {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 15%;
                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
                    span {
                        margin: 5px 0 0;
                        font-size: 12px;
                        text-indent: 0;
                    }
                }
            }
            .comment-no {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                img {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    margin: 0 10px 0 0;
                }
            }
        }
        .push-comment {
            width: 100%;
            height: 30px;
            text-align: right;
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }
    }
}