.message-board {
    $padding: 10px;
    padding: $padding;
    margin: 10px 0 0;
    background: #ffffff;
    .message {
        display: flex;
        flex-direction: column;
        padding: 10px 0 10px;
        border-bottom: 1px dashed red;
        .userinfo {
            display: flex;
            align-items: center;
            img {
                width: 30px;
                border-radius: 50%;
                overflow: hidden;
            }
            span {
                font-size: 12px;
                align-self: flex-end;
            }
            .user {
                flex: 1;
                margin: 0 0 0 5px;
                font-size: 14px;
            }
        }
        > p {
            display: flex;
            flex-direction: column;
            // TODO 盒子最大高度，超过内容怎么显示
            span {
                max-height: 50px;
                overflow: hidden;
                text-indent: 35px;
            }
            time {
                align-self: flex-end;
                margin: 2px 0 0;
                font-size: 12px;
            }
        }
        .opera {
            display: flex;
            justify-content: flex-end;
            > button {
                margin: 2px 0 0 10px;
            }
        }

    }
    .line {
        display: block;
        border-bottom: 1px dashed red;
    }
}