.dialog-register {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 360px;
    height: 220px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    .form-register {
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
            margin: 10px 0 0;
            text-align: center;
            &:first-child {
                margin: 0;
            }
        }
        // input 扩展样式
        .tips {
            border: 1px solid #F42B2B;
        }
        input.tips::-webkit-input-placeholder {
            color: #F42B2B;
        }

        // 图片验证码
        .code {
            position: relative;
            display: flex;
            margin: 10px 0 0;
            input {
                width: 120px;
                padding-right: 30px;
            }
            i {
                position: absolute;
                right: 90px;
                top: 6px;
                font-size: 20px;
                color: #333;
                cursor: pointer;
                transition: all 1s ease-in-out;
            }
            .imgcode {
                width: 80px;
                height: 35px;
                overflow: hidden;
            }
            // 旋转动画
            @keyframes rotate {
                from { transform: rotate(0); }
                to { transform: rotate(360deg); }
            }
            .rotate {
                animation: rotate 0.5s linear infinite;
            }
        }

        .btns {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 10px 0 0;
            .btn {
                width: 80px;
                height: 35px;
                border-radius: 20px;
            }
            .reset {
                border: 1px solid #3D83D0;
                background: #fff;
                color: #3D83D0;
            }
        }
    }
}